html {
  background: #018ded
    url(https://source.unsplash.com/collection/1151578/1600x900);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  /* display: flex;
  flex: 1; */
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, -0.96, 0, 1.65);
}

.hour-hand {
  background-color: gray;
}

.digital-clock {
  margin: 70px auto;
  display: inline-block;
}
.digital-clock table {
  border: solid 2px black;
  padding: 10px;
  border-radius: 10px;
}
.digital-clock table tr:nth-child(1) td:not(:first-child) {
  border-bottom: 2px solid black;
  padding: 0px 10px 10px 10px;
}
.digital-clock table tr:nth-child(2) td {
  padding-top: 15px;
}

.digital-hour-hand {
  color: gray;
}
.digital-meridiem {
  margin-top: 50px;
  padding-right: 10px;
  color: blue;
}
