@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

html {
  background-image: url('./spring-fed-images-CKYdtIyd_mw-unsplash.jpg');
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  border: 2px solid white;
  margin: 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 0.5rem;
}
.playing {
  transform: scale(1.1);
  border-color: rgb(42, 170, 230);
  box-shadow: 0 0 1rem white;
}

kbd {
  display: block;
  font-size: 40px;
}
.sound {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(42, 170, 230);
}
